*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-logo{
    width: 12vw;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.7vw;
}

.navbar a:hover{
    color: black;
}

section
{
    text-align: center;
}

.section-header h1{
    font-size: 3vw;
}

.nav-item{
    text-align: end;
    font-size: 10px;
}