.header {
  text-align: center;
  margin-top: 0;
  width: 100%; /* Make the banner span the entire width of the viewport */
  height: 300px; /* Set the height of the banner */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  display: flex; /* Use flexbox to center the content vertically and horizontally */
  justify-content: center;
  align-items: center;
  flex: 1; /* Allow the header to resize with flexbox */
  transition: border-color 0.5s ease; /* Add a transition for the border color */
}

.header img {
  height: 100%;
  object-fit: scale-down; /* Ensure the image covers the container */
  opacity: 0.8; /* Set the initial opacity */
  transition: opacity 0.5s ease; /* Add a smooth transition for the opacity */
  transform: scale(0.8); /* Zoom out the image to 80% of its original size */
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent); /* Add a transition for the filter effect */
}


media @media screen and (max-width: 768px) {
  .header {
    height: 200px; /* Set the height of the banner */
  }

  .header img {
    transform: scale(0.6); /* Zoom out the image to 60% of its original size */
  }
  
}